<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!--
  testng.xml – Suite chính chạy TOÀN BỘ test
  Lệnh: mvn test
-->
<suite name="Lab7_BlackBox_FullSuite" verbose="1">

  <test name="AllTests">
    <classes>
      <class name="dtm.tests.TC_DangNhapTest" />
      <class name="dtm.tests.TC_GioHangTest"  />
      <class name="dtm.tests.TC_TimKiemTest"  />
      <class name="dtm.tests.TC_CheckoutTest" />
    </classes>
  </test>

</suite>
