<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Lab10-API-Testing-Bai3" verbose="1">
    <test name="JSON Schema Validation Tests">
        <classes>
            <class name="lab10.api.tests.JsonSchemaValidationTest"/>
        </classes>
    </test>
</suite>
