<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Lab10-API-Testing-Bai5" verbose="1">
    <test name="Performance SLA Monitoring Tests">
        <classes>
            <class name="lab10.api.tests.PerformanceSlaMonitoringTest"/>
        </classes>
    </test>
</suite>
