<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Lab9Bai4" verbose="1">
    <parameter name="browser" value="chrome"/>
    <parameter name="env" value="dev"/>

    <test name="JSON And Faker Tests">
        <classes>
            <class name="com.lab9.tests.UserLoginTest"/>
            <class name="com.lab9.tests.CheckoutFakerTest"/>
        </classes>
    </test>
</suite>
